.skip__link {
  left: -99999px;
  position: absolute;
  top: 30px;
  &:focus {
    border: 1px dotted #5e2f03;
    color: #5e2f03;
    height: auto;
    left: 0;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    z-index:9999;
  }
}

.header {
  text-align: center;
  &__title {
    display: inline-block;
    margin-top: 1rem;
  }
  &__link {
    @extend .skip__link;
  }
};

.main {
  &__link {
    @extend .skip__link;
  }
}
