<div class="home__container">
  
  <div class="intro__container">
    <h1>Tooltip Challenge</h1>
    <p>These buttons bring the tooltips!</p>
    
  </div>
  <div class="spacer"></div>
  <div class="buttons__container">
    <app-buttons [buttons]="buttons"></app-buttons>
  </div>
  <div class="scope__container">
    <h2 class="scope__title">Scope of the challenge:</h2>
    <ul class="scope__list">
        <li class="scope__list--item">Tooltip functionality should be written as a reusable component or directive. Please do not use any existing plugins.</li>
        <li>You are encouraged to use the Angular CLI or a starter/seed project to save time scaffolding</li>
        <li>You can organize the files/folders in any way</li>
        <li>The reviewer should be able to run your solution with a simple npm command</li>
        <li>You should submit your solution as a github repository link</li>
        <hr>
        <li>Style using either Bootstrap sass or SCSS BEM ++</li>
        <li>Add at least one accessibility feature +</li>
        <li>Design and style the app so that it is responsive</li>
    </ul>
  </div>
  <div class="spacer"></div>
</div>