<div class="home">
  
  <div class="home__intro">
    <h1 tabindex="0">Tooltip Challenge</h1>
    <p>These buttons bring the tooltips!</p>
    
  </div>
  <div class="home--spacer"></div>
  <div class="home__buttons">
    <app-buttons [buttons]="buttons" (onButtonClick)="buttonClicked($event)"></app-buttons>
  </div>
  <div class="home__scope">
    <h2 class="scope__title">Scope of the challenge:</h2>
    <ul class="home__scope--p-left">
        <li class="home__scope--space">Tooltip functionality should be written as a reusable component or directive. Please do not use any existing plugins.</li>
        <li class="home__scope--space">You are encouraged to use the Angular CLI or a starter/seed project to save time scaffolding</li>
        <li class="home__scope--space">You can organize the files/folders in any way</li>
        <li class="home__scope--space">The reviewer should be able to run your solution with a simple npm command</li>
        <li class="home__scope--space">You should submit your solution as a github repository link</li>
        <hr>
        <li class="home__scope--space">Style using either Bootstrap sass or SCSS BEM ++</li>
        <li class="home__scope--space">Add at least one accessibility feature +</li>
        <li class="home__scope--space">Design and style the app so that it is responsive</li>
    </ul>
  </div>
  <div class="home--spacer"></div>
</div>